*{
  padding:0;
  margin :0;
}
body{
  background-color: #cccd;
}
ul,li{
  list-style: none;
}

/* header */
.headerwarp{
  height:50px;
  background-color: #444;
}
.headerwarp header{
  width:1200px;
  margin: 0 auto;
}
.headerwarp img{
  margin-top: 10px;
  width:120px;
}
.headerwarp input{
  margin-left: 10px;
}
.headerwarp a{
  margin:0 20px;
  color:#fff;
}

/* main */
.main{
  width:1200px;
  margin:30px auto;
}
.content{
  width: 900px;
  /* height: 1000px; */
  float: left;
  border: 2px solid red;
  background-color: #fff;
}
.sider{
  width:296px;
  height: 500px;
  float: left;
  background-color: green;
  /* background-image: url(./123.png); */
}
.home{
  width: 900px;
  height:30px;
  float: left;
  background-color: #444;
}
.home a{
  margin:0 20px;
  color:#fff;
}

.one{
  float: left;
  font-size: 10px;
  color: #444;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 5px;
  width: 50px;
}
.two{
  font-size: 15px;
  overflow: hidden;
  width: 500px;
  position: relative;
  top: 7px;
  left: 10px;
}
.page{
  width: 30px;
  height: 30px;
  float: left;
  border:1px solid #000;
  background-color: #fff;
}
li button{
  float: left;
  margin-top: 7px;
  margin-left: 9px;
  color: red;
  background-color: #444;
  border-color:#444;
}